{% extends "index_modular.html" %}

{% block nav %}
{% endblock nav %}

{% block header %}
<section class="bg-white py-3">
  <div class="d-md-flex align-items-center text-center">
    <div class="row no-gutters justify-content-center w-100 py-3 py-md-4">
      <div class="col-sm-8 p-3">
        <h1 class="display-4">Need Your Carpet Cleaned?</h1>
        <p class="lead mb-3">Top Rated Carpet Cleaning in Longridge and Surrounding Areas. We Get Your Carpets Sparkling Clean!</p>
        <a href="tel:{{ config.extra.phone_number.value }}"
           class="col-lg-6 col-md-8 col-sm-12 m-1 px-3 py-2 btn btn-lg btn-primary">Call Now
          {{ config.extra.phone_number.display_value }}</a>
        <a href="#get-a-free-quote"
           class="col-lg-6 col-md-8 col-sm-12 m-1 px-3 py-2 btn btn-lg btn-secondary">Get a
          Quote</a>
      </div>
    </div>
  </div>
</section>
{% endblock header %}

{% block content %}
<section class="bg-gray py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="display-5 text-center">Services</h2>
      </div>
      <div class="col-md-3 col-6">
        <a href="#get-a-free-quote"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/services/carpet_cleaning.jpg"
               alt="Carpet Cleaning">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Carpet Cleaning</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a href="#get-a-free-quote"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/services/tile_cleaning.jpg"
               alt="Tile Cleaning">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Tile Cleaning</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a href="#get-a-free-quote"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/services/end_of_tenancy_cleaning.jpg"
               alt="End of Tenancy Cleaning">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">End of Tenancy Cleaning</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a href="#get-a-free-quote"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/services/oven_cleaning.jpg"
               alt="Oven Cleaning">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Oven Cleaning</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray py-1">
  <div class="container">
    <div class="row justify-content-center no-gutters flex-fill mb-3">
      <div class="col-sm-3 d-flex pr-4">
        <img class="d-none d-sm-block"
             src="/images/van_logo.png"
             alt="Easy Clean Van Logo">
      </div>
      <div class="col-sm-6 d-flex flex-column">
        <div class="p-2">
          <h2>How It Works</h2>
          <p class="lead mb-0">
            We come to you.
          <ul>
            <li>We clean your roof.</li>
            <li>We repair your roof.</li>
            <li>We replace your roof.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray pt-1 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="display-5 text-center">Cleaning - Before and After</h2>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <a href="#"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/our_work/clutter_carpet_before.jpg"
               alt="Carpet Before">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Carpet Before</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <a href="#"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/our_work/clutter_carpet_after.jpg"
               alt="Carpet After">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Carpet After</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <a href="#"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/our_work/stain_before.jpg"
               alt="Carpet Stain Before Cleaning">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Carpet Stain Before</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <a href="#"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/our_work/stain_after.jpg"
               alt="Carpet Stain After Cleaning">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Carpet Stain After</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="#"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/our_work/clutter_before.jpg"
               alt="Clutter Before Tidying">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Clutter Before</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <a href="#"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/our_work/clutter_after.jpg"
               alt="Clutter After Tidying">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Clutter After</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <a href="#"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/our_work/window_before.jpg"
               alt="Window Before Cleaning">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Window Before</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <a href="#"
           class="card hover-effect">
          <img class="card-img-top"
               src="/images/our_work/window_after.jpg"
               alt="Window After Cleaning">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">Window After</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <a href="tel:{{ config.extra.phone_number.value }}"
         class="col-lg-6 col-md-8 col-sm-12 m-1 px-3 py-2 btn btn-lg btn-primary">Call Now {{ config.extra.phone_number.display_value }}</a>
    </div>
  </div>
</section>


<section class="bg-gray pt-1 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="display-5 text-center">Happy Customers</h2>
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="card-img-top"
             src="/images/reviews/review_1.png"
             alt="Cleaned a full 3 bed terrace house top to bottom, every carpet, kitchen, oven and bathroom. House was spotless, would recommend. Fantastic customer service from Mark.">
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="card-img-top"
             src="/images/reviews/review_2.png"
             alt="Highly recommend Easy Clean. Mark is friendly, reliable and the job is always spot on. great service thank you!!">
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="card-img-top"
             src="/images/reviews/review_3.png"
             alt="Big thanks to Mark for coming and cleaning my downstairs carpets. Great communication. excellent service. Really pleased with the results. Highly recommend">
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="card-img-top"
             src="/images/reviews/review_4.png"
             alt="Just a HUGE a thank you to a Mark and his team for performing a clean on my ex rental property which was left in an appalling state by the last tenants . Excellent communication and very helpful. Highly recommended.">
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="card-img-top"
             src="/images/reviews/review_5.png"
             alt="Just had our living room carpet cleaned. Fabulous job, quick and efficient. Was thinking of buying a new carpet, no need now!">
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="card-img-top"
             src="/images/reviews/review_6.png"
             alt="Mark has done a fantastic job on our carpets. He was very quick & efficient. He is also a lovely guy. We will definitely be getting him to do them again in the future. Thanks Mark">
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  <img src="/images/contact_image/carpet_cleaning.jpg"
       alt="Carpet Cleaned - Before And After"
       class="bg-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-sm-10">
        <div class="card mb-0 card-body py-4"
             id="get-a-free-quote">
          <h2 class="h2 d-block">Get a Free Quote Today</h2>

          <form>
            <div class="form-group row">
              <label for="name"
                     class="col-3 col-form-label">Name</label>
              <div class="col-9">
                <input type="text"
                       id="name"
                       class="form-control"
                       placeholder="Your Name"
                       name="name"
                       required
                       autocomplete="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="email"
                     class="col-3 col-form-label">Email</label>
              <div class="col-9">
                <input type="email"
                       id="email"
                       class="form-control"
                       placeholder="name@example.com"
                       name="email"
                       required
                       autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label for="phone"
                     class="col-3 col-form-label">Phone</label>
              <div class="col-9">
                <input type="tel"
                       id="phone"
                       class="form-control"
                       placeholder="(01772) 123 456"
                       name="phone"
                       required
                       autocomplete="tel">
              </div>
            </div>
            <div class="form-group row">
              <label for="details"
                     class="col-3 col-form-label">Details</label>
              <div class="col-9">
                <textarea class="form-control"
                          id="details"
                          rows="3"
                          name="details"
                          placeholder="Details of your cleaning job"></textarea>
              </div>
            </div>
            <div>
              <button class="btn btn-primary btn-lg col-sm-12"
                      type="submit">Get In Touch Today</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-3">
  <div class="d-md-flex align-items-center text-center">
    <div class="row no-gutters justify-content-center w-100 py-0 py-md-2">
      <div class="col-sm-8 p-3">
        <h2 class="display-4">Need Your Carpet Cleaned?</h2>
        <p class="lead mb-3">Get in Touch Today!</p>
        <a href="tel:{{ config.extra.phone_number.value }}"
           class="col-lg-6 col-md-8 col-sm-12 m-1 px-3 py-2 btn btn-lg btn-primary">Call Now
          {{ config.extra.phone_number.display_value }}</a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block footer %}
<footer class="bg-dark spacer-y-1">
  <div class="container">
    <div class="row justify-content-between align-items-center mt-3 mt-md-4">
      <div class="col order-lg-1">
        <span class="text-small text-white opacity-50">&copy; {{ now() | date(format="%Y") }} {{ config.extra.client.name }} {{ config.extra.client.address }}</span>
      </div>
      <div class="col">
        <ul class="list-unstyled d-flex list-pipe-separator">
          <li><a href="/privacy-policy"
               class="text-white text-small">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions"
               class="text-white text-small">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}
